@model E_Commerce.VM.ViewModels.CategoryVM

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    @*<form asp-action="Add">*@
    @using (Html.BeginForm("Add", "Category", FormMethod.Post, new { id = "AddFrom" }))
    {
        <div class="modal-body">
            <div class="container">
                @Html.LabelFor(c => c.Name)
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Name)
            </div>
            <div class="container">
                @Html.LabelFor(c => c.Description)
                @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Description)
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
        @*</form>*@
    }
</div>
@section Scripts{
    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}